html,body {
    padding:0;
    margin:0;
    font-family: "Open Sans";
    height: 100%;
}

.test{

    background-color:#f33f;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}